*{box-sizing: border-box; margin: 0; padding: 0;}

        h1{margin-bottom: 50px; text-align: center; margin-top: 40px;}

        p{border: 3px solid black; background-color: rgba(44, 39, 39, 0.479); margin-right: 30px; padding:10px; color: black;margin-bottom: 10px; margin-left: 30px; padding-top: 50px; }

        .row{ margin-left: 10px; margin-bottom: 30px; border:none;}
/* for large devices that >= 992px*/
        @media(min-width: 992px){.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {margin-bottom:10px; float: left;}
        .col-lg-1{width: 8.33%;}
        .col-lg-2{width: 16.66%;}
        .col-lg-3{width: 25%;}
        .col-lg-4{width: 33.32%;}
        .col-lg-5{width: 41.65%;}
        .col-lg-6{width: 49.98%;}
        .col-lg-7{width: 58.31%;}
        .col-lg-8{width: 67%;}
        .col-lg-9{width: 75%;}
        .col-lg-10{width: 83.3%;}
        .col-lg-11{width: 91.63%;}
        .col-lg-12{width: 100%;}
        }

        /* for tablet devices */
        @media(min-width: 768px) and (max-width: 991px){.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7,.col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{margin-bottom: 10px; float: left;}
        .col-md-1{width: 8.33%;}
        .col-md-2{width: 16.66%;}
        .col-md-3{width: 25%;}
        .col-md-4{width: 33.32%;}
        .col-md-5{width: 41.65%;}
        .col-md-6{width: 49.98%;}
        .col-md-7{width: 58.31%;}
        .col-md-8{width: 67%;}
        .col-md-9{width: 75%;}
        .col-md-10{width: 83.3%;}
        .col-md-11{width: 91.63%;}
        .col-md-12{width: 100%;}
        }
        
        /* for small devices that <= 767px*/
        @media((max-width: 767px)){.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {margin-bottom:10px; float: left;}
        .col-sm-1{width: 8.33%;}
        .col-sm-2{width: 16.66%;}
        .col-sm-3{width: 25%;}
        .col-sm-4{width: 33.32%;}
        .col-sm-5{width: 41.65%;}
        .col-sm-6{width: 49.98%;}
        .col-sm-7{width: 58.31%;}
        .col-sm-8{width: 67%;}
        .col-sm-9{width: 75%;}
        .col-sm-10{width: 83.3%;}
        .col-sm-11{width: 91.63%;}
        .col-sm-12{width: 100%;}
        }
        .Pink, .Red, .Gold{width: 100px; height: 30px;float: right; text-align: center; margin-right: 33px; margin-bottom: 30px; margin-top:3px;border: 2px solid black; font-weight: bold; border-top: none; border-right: none;}
        .Pink{background-color: rgb(201, 69, 91);}
        .Red{background-color: brown;}
        .Gold{background-color: goldenrod;}